@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Orbitron:wght@400..900&display=swap');

:root{
  --colorWhite: #f2f2f2;
  --fontNunito: "Nunito Sans", sans-serif;
  --fontOrbitron: "Orbitron", sans-serif ;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--fontNunito);
  color: var(--colorWhite);
  letter-spacing: 1px;
  text-decoration: none;
  
}

#root{
  width: 100%;
  height: auto;
  
}


body{
  background-color: #111111;
  width: 100%;
  height: 100%;
  position: relative;
}

/* Estilo de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 8px;  
}

/* Track (fondo) de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background: #dddddd; /* Color de fondo */
}

/* Handle (agarre) de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #352a3e, #5a1764); /* Degradado de tonos morados oscuros */
  border-radius: 5px; /* Radio de borde del agarre */
}

/* Cambio de color al pasar el mouse sobre la barra de desplazamiento */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #602094, #5a1764); /* Degradado de tonos morados oscuros invertido */
  
}



