.banner{
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    
}

#name{
    width: 80%;
    font-family: "Orbitron", sans-serif;
}

.text{
    width: 62%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
}

.image{
    width: 38%;
}

img{
    width: 450px;
}


@media (max-width: 768px) {
    .banner{
        margin-top: 25%;
        width: 100%;
        flex-direction: column;
    }

    #name{
        width: 100%;
    }
    .text{
        width: 90%;
    }

    .image{
        width: 100%;
        margin-top: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}





